* {
margin: 0;
padding: 0;
box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:rgb(231, 186, 39);
    background-color: rgb(50, 0, 0);
}

/* navbar*/
header{
    background:rgb(192, 106, 106);
    padding:15px 0;
    position: sticky;
    top: 0;
    z-index:12;
}

.navbar{
    display:flex;
    justify-content:space-around ;
    align-items: center;
    margin-left: 10px;  
     padding: 0px;
}


.navbar .nav-links{
  display: flex;
  gap: 15px;
  flex-direction:row;
}

.navbar-nav-links{
    display: flex;
    margin-left: 20px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius:  50%;
}

.nav-link{
    display: flex;
    list-style:circle;
}

.nav-links li {
    margin-left:  15px;
}

.nav-links a{
     display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;              
  height: 50px;
  border-radius: 20%;       
  background: rgb(107, 33, 33); 
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav-links a:hover,
.nav-links .active{
    background: rgb(192, 106, 106); 
  color: #7d2525;                    
  transform: scale(1.2); 
  box-shadow: 0 0 15px rgba(220, 49, 49, 0.8); 
}

.hero{
    height: 80vh;
    background:url("https://static.vecteezy.com/system/resources/previews/011/332/525/non_2x/hand-drawn-coffee-concept-background-free-vector.jpg") center/cover no-repeat;
    position:relative;
}

.hero-overlay{
    
    height: 20%;
    display:flex ;
    justify-content: center;
    text-align:center;
    color: rgb(232, 232, 198);
}

.hero-text h1{
    font-size: x-large;
    margin-bottom: 15px;
}

.hero-text p{
    font-size: large;
    margin-bottom: 20px;
}

.hero-text span{
    color: rgb(200, 146, 76);
    font-weight: bold;
}

.btn{
    display: inline-block;
    padding: 10px;
    background:rgb(226, 204, 204);
    color:rgb(107, 33, 33) ;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.btn:hover{
    background: rgb(53, 0, 0);
    transform: translateY(-3px);
}

.section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color:rgb(247, 250, 245);
}
/*menu*/

.menu-grid{
    display: flex;
     grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.menu-iteam{
    background: rgb(237, 237, 191);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px black;
    transition: transform 0.3s;
}

.menu-iteam img{
    width: 50%;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}


.menu-iteam:hover{
    transform: scale(1.05);
}
.menu-iteam span{
    color:black;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
    height: 20px;
}

menu{
    margin-bottom:30px;   
}


/*about*/
.about{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items:center;
}
.about-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:60px
}
.about-text a {
    text-align: center;
}
.about-img{
    flex:1;
}
.about-img img{
    width: 50%;
    border-radius: 10px;
}

.secondary-btn{
    background: transparent;
    border:2px solid rgb(181, 227, 110);
    color:rgb(248, 162, 101)
}
.secondary-btn:hover{
    background: rgb(245, 220, 220);
    color:black;
}

about{
    margin-bottom: 20px;
}

/*offers*/

.offers{
    background: rgb(208, 208, 137);
    padding: 50px 0;
}
.offers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}
.offers-card{
    background: white;
    padding:20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px black;
    transition: transform 0.3s;
}
.offers h3{
    color:rgb(71, 133, 9);
}
.offers-card:hover{
    cursor: pointer;
    transform: translateY(5px);
}

/*testimonial*/

.testimonial h2 {
    background: linear-gradient(135deg, #ed8970, #feb47b); /* gradient background */
    color: rgb(249, 48, 48);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.testimonial {
    background: rgb(227, 85, 85);
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
    box-shadow: 0 2px 10px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.testimonial:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
/*contact*/
.contact form{
    display:grid;
    gap:15px;
    max-width: 500px;
    margin:auto;
}
.contact input,
.contact textarea{
    padding:10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
.contact button{
    border: none;
    cursor: pointer;
}
contact{
    margin-bottom:30px;
}

/*footer*/
footer{
    background:#ebcec7;
    color:#94412c;
    padding:20px 0;
    text-align: center;
}
.social-links img{
    height: 25px;
    margin: 10px 5px;
    transition: transform 0.3s;
}
.social-links img:hover{
    transform: scale(1.2);
}

/*responsive*/
@media (max-width:768px){
.about{
  flex-direction:column;
}
.hero-text h1{
    font-size:2rem;
}
}




